Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip
Content/TopDownBP
Content/SoulCity
Content/InfinityBladeEffects
Content/Marketplace
Content/M5VFXVOL2
Content/Maps